*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{

}
body{
  color: black;
   background:  #f2f2f2;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a{
    display: block;
    width: 200px;
    background-color: transparent;
    border-top: 1px solid #63a70a;
    border-bottom: 1px solid #63a70a;
    text-align: left;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    line-height: 29px;
    text-transform: uppercase;
    color: black;
}
.home li:last-child {
    border-bottom: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
}
.navRow{
     padding: 20px;
     height: 100px;
     position: relative;
}
.home{;
    margin-right:  320px;
    width: 420px;

    padding: 0;
}
.contact{
        width: auto;

        margin-right: 20px;
    padding: 0;
}
img{
    max-width:100%;
    height: auto;
    background-size: cover;
    padding-top: 10px;
}

.slick-dots li.slick-active button{
    background:#e30a7e;
}

.slick-dots li button::before{
    font-size: 0px;
}
.slick-dots li button{
    background: transparent;
    border: 1px solid #e30a7e;
}
.slick-dots{
    top: 25px;
    padding-top: 30px;
}
a {
    text-decoration: none;

}
.heading{
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;

}
.subheading{
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    line-height: 50px;
    color: #63a70a;
    border-bottom: 1px solid #63a70a;
    text-transform: uppercase;
}
p{
    font-size: 18px;
    line-height: 25.6px;
    padding-top: 15px;
    font-family: 'Lato', sans-serif;
    padding-bottom: 20px;
}
.slick-slider {
    width: 100%;
    height: auto;
    padding-top: 20px;
    position: relative;
    padding-bottom: 20px;
}
.slick-prev{
    left: 202px;
    top: 20px;
}
.slick-next {
    right: 202px;
    top: 20px;
}
.feedback{
    text-align: center;
    color: white;
    background: #63a70a;
    padding: 10px;

}
footer{
    background: transparent;
    text-align: left;
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 10px;
}
footer .subheading{
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    text-align: left;
    color: #63a70a;
    text-transform: uppercase;
    border-bottom: 1px solid #63a70a;

}
.col-sm-2 {
    padding-top: 40px;
}
.col-sm-3 {
    margin-top: -20px;
}
.heading img{
    position: absolute;
    margin-left: -178px;
    margin-top: -25px;
}
.h1, h1{
    position: relative;
    color: white;
}
.col-xs-4 img{
    max-width:100%;
    height: auto;
    padding-top: 50px;
}
.col-sm-6{
    padding-top: 25px;
    padding-bottom: 20px;
}
.col-sm-6 img{
    padding-top: 63px;
}
.classes .heading img {
    position: absolute;
    margin-left: -208px;
    margin-top: -25px;
}
.contacthead .heading img{
    position: absolute;
    margin-left: -178px;
    margin-top: -25px;
    padding-bottom: 20px;

}
